@model TruckAssistant.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Range)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Range) km
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <h4>Truck assigned to this trip</h4>
        <hr />

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Truck.Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Truck.Brand)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Vmax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Truck.Vmax) km/h
        </dd>



    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
